.feature-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    text-align: center;

    transition: 0.3s;

    cursor: pointer;
}

.feature-card:hover {
    transform: translateY(-8px);
}

.feature-icon {
    font-size: 50px;
    margin-bottom: 15px;
}

.feature-card h3 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.feature-card p {
    color: #666;
}